.aaa{
    background-color: #d4cece;
}
.card-body{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
}
.form-control{
    margin-bottom: 10px;
    width: 100%;
}
.info{
    text-align: left;
}
.form-check{
    text-align: left;
}
.btn2{
    text-decoration: none;
    color: #fff;
}
.btn2b{
    text-decoration: none;
    color: #fff;
}
    


